@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
}
html{
    scroll-behavior: smooth;
}

/* shared style */
h2{
    color: gray;
}
.all-top-spacing{
    margin: 100px 0px;
}
.btn{
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    /* background-color: aquamarine; */
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

/* banner part  */

.banner{
    background-image: url('./assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.hero-btn{
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: black;
}
.hero-content{
    width: 600px;
    text-align: center;
}

/* main section  */

main{
    margin: 100px 200px;
    /* text-align: center; */
}

/* why development section */
.why-box{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 5px;
    margin: 50px 0px;
}
.btn-box{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
}
.why-content{
    width: 550px;
}

/* my inpiration section */
.video-withd{
    width: 1200px;
}

.video{
    border-radius: 10px;
    margin: 50px 0px;
}

/* my current terget section */
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 0px;
}
.card{
    /* height: 300px; */
    padding: 30px;
    max-width: 364px;
    background-color:  rgba(255, 76, 30, 0.05);
    border-radius: 5px;
}
.card-btn{
    text-decoration: underline;
    font-weight: bolder;
    background-color:  rgba(255, 76, 30, 0.05);
    border: none;
    padding: 0px;
}
.card-2{
    background-color:  rgba(0, 76, 232, 0.05);;
}
.card-3{
    background-color: rgba(255, 223, 0, 0.05);;
}

/* my next mission */
.item-container{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}



/* support */
.support{
    background-image: url("./assets/handshake.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    background-blend-mode: overlay;
    /* background: url('./assets/handshake.jpg') rgba(255, 0, 150, 0.3); */
    /* background-blend-mode: multiply; */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
    margin: 100px 0px;
    border-radius: 10px;
}
.support-title{
    color: white;
    font-size: 28px;
}
.support-description{
    color: white;
    width: 700px;
    margin: 20px auto;
}
.input-text,.input-submit{
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
}

/* footer */
footer{
    
    background-color: aliceblue;
    padding: 30px 0px;
}
.foot-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 0px 200px;

}
